<h1 class="mt-4">Danh sách khoá học</h1>
<div>
    <div class="row mt-5">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 mt-4">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt={{this.name}}>
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>